server:
  port: 8869
spring:
  application:
    name: user-service
  datasource:
    driver-class-name: ${DB_DRIVER:com.mysql.cj.jdbc.MysqlDataSource}
    url: ${DB_URL:jdbc:mysql://47.100.206.217:3306/shishi?useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true&useSSL=false}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:iloveu}
  redis:
    host: 192.168.72.162
  profiles:
    active: dev
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10000/eureka
    instance:
      prefer-ip-address: true
      ip-address: 127.0.0.1
      instance-id: ${eureka.instance.ip-address}.${server.port}
      lease-renewal-interval-in-seconds: 3
      lease-expiration-duration-in-seconds: 10

mybatis:
  type-aliases-package: com.boot.user.pojo
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true

project:
  version: @project.version@